<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travelers Wish List</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="wrapper">
    <header>
       <h1><a href="/">Travelers Wish List</a> </h1> 
      <h2 class="logo"><a href="/"><img src="/images/travelers_wish_list-logos_white.png" alt=""></a></h2>
     
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <img src="/images/bg video.gif"></img>
    <div class="overlay"></div>
    <main>
      {{{ body }}}
    </main>
    <div class="footer">
      <div class="footer-content">
        <div class="footer-section about"></div>
        <div class="footer-section links"></div>
        <div class="footer-section contact-form"></div>
        <div class="footer-bottom">
          &copy; Website Design | Designed by Wilmer,Jean Carlos
        </div>
      </div>
    </div>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>
</html>